{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>EduSoftia</title>
    <!-- logo icon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/logo/favicon.png' %}">

    <!--
  SOFTY PINKO
  https://templatemo.com/tm-535-softy-pinko
  -->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-softy-pinko.css' %}">
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#welcome" class="logo">
                            <img src="{% static 'assets/images/logo/logo-dark.png' %}" alt="E-Learning Module"
                                style="width: 160px;" />
                            <!-- SoftBuild -->
                        </a>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Home</a></li>
                            <li><a href="#features">About Module</a></li>
                            <li><a href="#our-teachers">Teachers</a></li>
                            <li><a href="#testimonials">Feedback</a></li>
                            <li><a href="#contact-us">Contact</a></li>
                            <li>
                                <a class="course-content-link" style="font-size: 20px; border: 3px solid #ff589e;"
                                    href="{% url 'course_content' %}">
                                    Courses
                                </a>
                            </li>
                            
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    {% block content %}
    {% endblock content %}

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="tg://resolve?domain=Meownation4"><i class="fa fa-telegram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/marjona-sayfullayeva-a84685250"><i
                                    class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/edusoftia/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2024 EduSoftia </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>
        function pageTransition(e) {
            e.preventDefault();
            document.getElementById("loader").style.display = "block"; // loader chiqadi
            document.body.style.transition = "opacity 0.5s";
            document.body.style.opacity = 0.5; // sekin o‘chadi
            setTimeout(() => {
                window.location.href = e.target.href;
            }, 1000); // loader 1.5s ko‘rinib turadi
        }
    </script>

</body>

</html>